.nyc_output
coverage
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

.parcel-cache
dist
pids
logs
results

node_modules
npm-debug.log

.idea
.cache
.vscode

# YARN
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions